{% extends 'base.html' %}

{% block content %} 

{% include 'includesTemplates/catalogo_productos.html' %}
<section class="seccion-marca">
    <div class="box-left">
        <div class="seccion-marca-formulario">
            <form action="{% url 'crearMarcaLink' %}" method="post">
                {% csrf_token %}
                <h2>Nueva Marca</h2>
                <label for="codigo">Codigo</label>
                <input type="number" name="int-codigo" id="codigo" placeholder="000" required>
                <label for="nombre">Nombre</label>
                <input type="text" name="txt-nombre" id="nombre" placeholder="Nombre" required>
                <button type="submit">Crear Marca</button>
            </form>
        </div>
    </div>
    <div class="box-right">
        <h2>Marcas</h2>

        <form action="" method="post" class="buscador">
            <input type="search" name="termino_busqueda" id="" placeholder="Buscar">
            {% csrf_token %}
        </form>
        {% if alerta %}
            <a  class="alerta-mostrar-todos" href="{% url 'PageProductosMarcasLink' %}">{{alerta}}</a>
        {% endif %}
        <div class="descargas">
            <button id="btn-descargar-excel" class="btn-descargar-excel">Descargar Excel</button>
            <button onclick="printTable()">Imprimir</button>
        </div>
    
        <div class="seccion-categoria-tabla">
            <table id="printableTable">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mar in marcas %}
                        <tr>
                            <td>{{mar.codigo_marca}}</td>
                            <td>{{mar.nombre_marca}}</td>
                            <td>
                                <a href="{% url 'editarMarcaLink' codigo_marca=mar.codigo %}" class="icono-editar">
                                    <i class="ti ti-edit"></i>
                                </a>
                                <a href="{% url 'eliminarMarcaLink' codigo_marca=mar.codigo %}" class="icono-borrar enlaceDelete">
                                    <i class="ti ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor  %}
                    </tbody>
            </table>
        </div>
    </div>
    
</section>
{% include 'includesTemplates/modal-delete.html' %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('btn-descargar-excel').addEventListener('click', function() {
            window.location.href = "{% url 'descargar_excel_marca' %}";
        });
    });

    function printTable() {
        var printableTable = document.getElementById('printableTable').outerHTML;
        var newWin = window.open('', '', 'width=800,height=600');
        newWin.document.write(printableTable);
        newWin.document.close();
        newWin.focus();
        newWin.print();
        newWin.close();
    }
</script>
{% endblock %}
