{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="seccion-proveedores">
    <div class="box-button">
        <h2>Proveedores</h2>

        <form action="" method="post" class="buscador">
            <input type="search" name="" id="" placeholder="Buscar">
            {% csrf_token %}
        </form>
        
        <div class="descargas">
            <button id="btn-descargar-excel" class="btn-descargar-excel">Descargar Excel</button>
            <button onclick="printTable()">Imprimir</button>
        </div>
    
        <div class="seccion-proveedor-tabla">
            <table id="printableTable">
                <thead>
                    <tr>
                        <th>Codigo de Proveedor</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>RUC/DNI</th>
                        <th>Direccion</th>
                        <th>Correo Electronico</th>
                        <th>Numero de Telefono</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pro in proveedores %}
                    <tr>
                        <td>{{ pro.codigo_proveedor }}</td>
                        <td>{{ pro.nombres }}</td>
                        <td>{{ pro.apellidos }}</td>
                        <td>{{ pro.ruc_dni }}</td>
                        <td>{{ pro.direccion }}</td>
                        <td>{{ pro.correo_electronico }}</td>
                        <td>{{ pro.numero_telefono }}</td>                        
                        <td>
                            <a href="{% url 'editarProveedorLink' codigo_proveedor=pro.codigo %}" class="icono-editar">
                                <i class="ti ti-edit"></i>
                            </a>
                            <a href="{% url 'eliminarProveedorLink' codigo_proveedor=pro.codigo %}" class="icono-borrar enlaceDelete">
                                <i class="ti ti-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor  %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% include 'includesTemplates/modal-delete.html' %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('btn-descargar-excel').addEventListener('click', function() {
            window.location.href = "{% url 'descargar_excel_proveedores' %}";
        });
    });

    function printTable() {
        var printableTable = document.getElementById('printableTable').outerHTML;
        var newWin = window.open('', '', 'width=800,height=600');
        newWin.document.write(printableTable);
        newWin.document.close();
        newWin.focus();
        newWin.print();
        newWin.close();
    }
</script>
{% endblock %}
