{% extends 'base.html' %}

{% block content %}
<button class="btn-abrir">
    <i class="ti ti-plus"></i>
</button>

<div class="modal">
    <div class="content-modal modal-proveedor">
      <h2>Nuevo Proveedor</h2> 
    
      <form  action="{% url 'crearProveedorink' %}" method="post" class="form-proveedor">
        {% csrf_token %}
        <p>
            {{formulario.codigo_proveedor}}
            {{formulario.nombres}}
            {{formulario.apellidos}}
            {{formulario.ruc_dni}}
            {{formulario.direccion}}
            {{formulario.correo_electronico}}
            {{formulario.numero_telefono}}
        </p>
        <button type="submit" class="btn-guardar">Guardar Producto</button>
        <button id="btn-cerrar" class="btn-cancelar">Cancelar</button>
    </form>
    </div>
</div>

{% include 'includesTemplates/catalogo_productos.html' %}

<section class="seccion-proveedores">
    <div class="box-button">
        <h2>Proveedores</h2>

        <form action="" method="post" class="buscador">
            <input type="search" name="" id="" placeholder="Buscar">
            {% csrf_token %}
        </form>
        
        <div class="descargas">
            <button>Descargar csv</button>
            <button>Imprimir</button>
        </div>
    
        <div class="seccion-proveedor-tabla">
            <table >
                    <thead>
                        <tr>
                            <th>Codigo de Proveedor</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>RUC/DNI</th>
                            <th>Direccion</th>
                            <th>Correo Electronico</th>
                            <th>Numero de Telefono</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pro in proveedores %}
                        <tr>
                            <td>{{ pro.codigo_proveedor }}</td>
                            <td>{{ pro.nombres }}</td>
                            <td>{{ pro.apellidos }}</td>
                            <td>{{ pro.ruc_dni }}</td>
                            <td>{{ pro.direccion }}</td>
                            <td>{{ pro.correo_electronico }}</td>
                            <td>{{ pro.numero_telefono }}</td>                        
                            <td>
                                <a href="{% url 'editarProveedorLink' codigo_proveedor=pro.codigo %}" class="icono-editar">
                                    <i class="ti ti-edit"></i>
                                </a>
                                <a href="" class="icono-borrar">
                                    <i class="ti ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor  %}
                    </tbody>
            </table>
        </div>
    </div>
    
</section>


{% endblock %} 