{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- seccion de agregar nuevo producto -->

<button class="btn-abrir">
    <i class="ti ti-plus"></i>
</button>

<div class="modal">
    <div class="content-modal modal-productos">
      <h2>Nuevo Producto</h2>

      <form action="{% url 'crearProductosLink' %}"  method="post" enctype="multipart/form-data" class="form-productos">
        {% csrf_token %}
        <p>
            {{formulario.codigo_producto}}
            {{formulario.codigo_barras}}
            {{formulario.nombre}}
            {{formulario.precio}}
            {{formulario.stock}}
            <label >Categoria:</label>
            {{formulario.categoria}}
            <label >Marca:</label>
            {{formulario.marca}}
            <label >Proveedor:</label>
            {{formulario.proveedor}}
            <label >Imagen:</label>
            {{formulario.imagen}}
        </p>
        <button type="submit"  class="btn-guardar">Guardar Producto</button>
        <button id="btn-cerrar" class="btn-cancelar">Cancelar</button>
    </form>
    </div>
</div>

  <!-- seccion de productos -->

    <section class="productos-page">
        {% include 'includesTemplates/catalogo_productos.html' %}
        
        <article class="productos-section">
            <div class="header-table">
                <h2>Productos</h2>
                <form action="" method="post" class="buscador">
                    <input type="search" name="" id="" placeholder="Buscar">
                    {% csrf_token %}
                </form>
                <div class="descargas">
                <button id="btn-descargar-excel" class="btn-descargar-excel">Descargar Excel</button>
                <button onclick="printDiv('printableTable')">Imprimir</button>
            </div>
            </div>
            <div class="box-table-productos">
                <div class="box-table-productos-scroll">
                    <table id="printableTable" class="table-productos">
                        <thead>
                            <tr>
                                <th>Cod. Producto</th>
                                <th>Cod. Barra</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Stok</th>
                                <th>Categoria</th>
                                <th>Marca</th>
                                <th>Proovedor</th>
                                <!-- <th>Imagen</th> -->
                                <th>Acciones</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            {% for prod in productos %}
                            <tr>
                                <!-- <td>{{prod.codigo}}</td> -->
                                <td>{{prod.codigo_producto}}</td>
                                <td>{{prod.codigo_barras}}</td>
                                <td>{{prod.nombre}}</td>
                                <td>{{prod.precio}}</td>
                                <td>{{prod.stock}}</td>
                                <td>{{prod.categoria}}</td>
                                <td>{{prod.marca}}</td>
                                <td>{{prod.proveedor}}</td>
                                <!-- <td>
                                    {% if prod.imagen %}
                                        <img src="{{prod.imagen.url}}" alt="{{prod.nombre}}" width="30px" height="30px">
                                    {% else %}
                                        <img src="" alt="{{prod.nombre}}" width="30px" height="30px">
                                    {% endif %}
                                </td> -->
                                <td>
                                    <a href="{% url 'editarProductoLink' codigo_producto=prod.codigo %}" class="icono-editar">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="{% url 'eliminarProductoLink' codigo_producto=prod.codigo %}" class="icono-borrar enlaceDelete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                    <a href="{% url 'detalleProductoLink' codigo_producto=prod.codigo %}" class="icono-detalle">
                                        <i class="ti ti-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor  %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
        
    </section>
    <!-- Modal -->
<div  class="modalDelete">
    <div class="modal-content">
      <p>¿Estás seguro de eliminar este registro?</p>
      <button id="btnSi" class="btn">Sí</button>
      <button id="btnNo" class="btn">No</button>
    </div>
</div>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('btn-descargar-excel').addEventListener('click', function() {
            window.location.href = "{% url 'descargar_excel' %}";
        });
    });

    function printDiv(divName) {
  var printDiv = document.getElementById(divName);
  var newWin = window.open('', '', 'width=800,height=600');
  newWin.document.write(printDiv.outerHTML);
  newWin.document.close();
  newWin.focus();
  newWin.print();
  newWin.close();
}
    </script>
    
{% endblock %}