{% extends 'base.html' %}
{% load static %}
 
{% block content %}

{% include 'includesTemplates/catalogo_productos.html' %}

<section class="seccion-categoria">
    <div class="box-left">
        <div class="seccion-categoria-formulario">
            <form action="{% url 'crearCategoriaLink' %}" method="post">
                {% csrf_token %}
                <h2>Nueva Categoria</h2>
                <label for="codigo">Codigo</label>
                <input type="number" name="int-codigo" id="codigo" placeholder="00" required>
                <label for="nombre">Nombre</label>
                <input type="text" name="txt-nombre" id="nombre" placeholder="Nombre" required>
                <button type="submit">Crear Categoria</button>
            </form>
        </div>
    </div>
    <div class="box-right">
        <h2>Categorias</h2>

        <form action="" method="post" class="buscador">
            <input type="search" name="termino_busqueda" id="" placeholder="Buscar">
            {% csrf_token %}
        </form>
        {% if alerta %}
            <a  class="alerta-mostrar-todos" href="{% url 'PageProductosCategoriasLink' %}">{{alerta}}</a>
        {% endif %}
        <div class="descargas">
            <button id="btn-descargar-excel" class="btn-descargar-excel">Descargar Excel</button>
            <button onclick="printTable()">Imprimir</button>
        </div>
    
        <div class="seccion-categoria-tabla">
            <table id="printableTable">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cat in categorias %}
                        <tr>
                            <td>{{cat.codigo_categoria}}</td>
                            <td>{{cat.nombre_categoria}}</td>
                            <td>
                                <a href="{% url 'editarCategoriaLink' codigo_categoria=cat.codigo %}" class="icono-editar ">
                                    <i class="ti ti-edit"></i>
                                </a>
                                <a href="{% url 'eliminarCategoriaLink' codigo_categoria=cat.codigo %}" class="icono-borrar enlaceDelete">
                                    <i class="ti ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor  %}
                        {% if busqueda %}
                            <a href="{% url 'PageProductosCategoriasLink' %}">ver todos</a>
                            {% for cat in busqueda %}
                            <tr>
                                <td>{{cat.codigo_categoria}}</td>
                                <td>{{cat.nombre_categoria}}</td>
                                <td>
                                    <a href="{% url 'editarCategoriaLink' codigo_categoria=cat.codigo %}" class="icono-editar ">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="{% url 'eliminarCategoriaLink' codigo_categoria=cat.codigo %}" class="icono-borrar enlaceDelete">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor  %}
                        {% endif %}
                    </tbody>
            </table>
        </div>
    </div>
    
</section>
{% include 'includesTemplates/modal-delete.html' %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('btn-descargar-excel').addEventListener('click', function() {
            window.location.href = "{% url 'descargar_excel_categoria' %}";
        });
    });

    function printTable() {
        var printableTable = document.getElementById('printableTable').outerHTML;
        var newWin = window.open('', '', 'width=800,height=600');
        newWin.document.write(printableTable);
        newWin.document.close();
        newWin.focus();
        newWin.print();
        newWin.close();
    }
</script>
{% endblock %}
