{% extends 'base.html' %}
{% load static %}

{% block content %}

<button class="btn-abrir" >
    <i class="ti ti-plus"></i>
</button>
<div class="modal">
    <div class="content-modal modal-nueva-factura">
      <h2>Nuevo Factura</h2> 
      <br>
      <form  action="{% url 'PageVentasLink' %}" method="post" class="form-factura">
        {% csrf_token %}
        {{form_fac.nombre_factura.label }}
        {{form_fac.nombre_factura }}
        <button type="submit" class="btn-guardar">Crear Factura</button>
        <button id="btn-cerrar" class="btn-cancelar">Cancelar</button>
    </form>
    </div>
</div>

    <div class="seccion-ventas">
        <h1>ventas</h1>
        <div class="cards">         
            {% if fact %}
            {% for fac in fact %}
            <section class="facturas-cards">
                <div class="cards-header">
                    <i>{{fac.codigo}}</i>
                    <b>{{fac.fecha_factura|date:"d/m/y"}}</b>
                </div>
                <div class="cards-titulo">
                    <h2>{{fac}}</h2>
                </div>
                <div class="card-info">
                    <h5>Venta realizada con exito. <br><br>
                    ver venta 👇</h5>
                </div>
                <div class="cards-icon">
                    <a href="{% url 'detalleVentaLink' cod_fac=fac.codigo %}">
                        <i class="ti ti-list-check"></i>
                    </a>
                    <a href="{% url 'deleteVentaTemplateLink' cod_fac=fac.codigo %}">
                        <i class="ti ti-trash-x"></i>
                    </a>
                </div>
            </section>
            {% endfor  %}
            {% else %}
                <li class="noFacturas">No hay facturas</li>
            {% endif %}
        </div>
    </div>

{% endblock %}