* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #e7e9f5;
    position: relative;
  }
  :root{
    --color1:#FFFFFF;
    --color2:#4B0081;
    --color3:#EBFF00;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    background: var(--color1);
    padding: 6px 0px;
    height: 100%;
    box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    overflow: hidden;
    z-index: 10;
  }
  .sidebar.active {
    width: 240px;
    
  }
  .sidebar .logo_content .logo {
    display: flex;
    color: var(--color2);
    height: 50px;
    width: 200px;
    font-size: 30px;
    margin-left: 5px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
  }
  .sidebar.active .logo_content .logo {
    opacity: 1;
  }
  .sidebar .logo_content .logo .logo_name {
    font-size: 23px;
    font-weight: 600;
    margin: 0 10px;
  }
  .sidebar #btn {
    position: absolute;
    color: var(--color2);
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
  }
  .sidebar.active #btn {
    left: 85%;
  }
  .sidebar i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
  }
  .sidebar ul {
    margin-top: 20px;
  }
  .sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
  }
  .sidebar ul li a {
    color:var(--color2);
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    white-space: nowrap;
    transition: all 0.4s ease;
  }
  .sidebar ul li a:hover {
    background: var(--color3);
  }
  .sidebar .link_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }
  .sidebar.active .link_name {
    opacity: 1;
    pointer-events: auto;
  }
  .contenido{
    margin-left: 50px;
    background-color:var(--color1);
    min-height: 100vh;
    padding: 10px;
  }


  /* PAGINA DE PRODUCTOS */
.btn-abrir{
  width: 50px;
  height: 50px;
  background-color: var(--color2);
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 10px;
  right: 10px;

  border: none;
  color: var(--color1);
}

.btn-abrir i{
  font-size: 25px;
}
.btn-abrir:hover{
  background-color: var(--color3);
  color: var(--color2);
}


  .productos-page{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background: #00000046; */
  }
  .header-title{
    font-size: xx-large;
    color: var(--color2);
    text-align: center;
    
  }
  .header-nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
  }
  .header-nav-box{
    flex-basis: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--color3);
    flex-wrap: wrap;
    text-decoration: none;
    text-transform: capitalize;
    gap: 10px;
    box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
  
  }
  .header-nav-box-text{
    font-size:small;
    font-weight: bold;
  }
  .header-nav-box-icon{
   font-size: 30px;
   color: var(--color2);
  }

  .productos-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
.header-table{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.header-table h2{
  color: var(--color2);
}
.buscador{
  border-radius: 50px;
  background-color:var(--color2);
  padding: 5px ;
}
.buscador input{
  border-radius: 50px;
  border: none;
  padding: 15px;
  
  outline: none;
}
.descargas{
  display: flex;
  gap: 20px;
}
.descargas button{
  border-radius: 20px;
  background-color: var(--color2);
  color: var(--color1);
  padding: 10px;
  border: none;
}
 .box-table-productos{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  gap: 10px;
 }
 .box-table-productos .form-new-producto{
  width: 250px;
  height: fit-content;
  background-color: #EBFF00;
 }
 .box-table-productos .box-table-productos-scroll{
  width: 1000px;
  height: 400px;
  overflow: scroll;
 }
 .box-table-productos .box-table-productos-scroll .table-productos{
  width: 100%;
  
 }
 .box-table-productos .box-table-productos-scroll .table-productos .nuevoProducto{
  text-align: center;
 }
 .box-table-productos .box-table-productos-scroll .table-productos .nuevoProducto a{
  color: var(--color1);

  text-decoration: none;
 }

 /* PAGINA DE CATEGORIAS   y MARCA*/

.seccion-categoria,.seccion-marca{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 50px;
}

.box-left .seccion-categoria-formulario form{
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.3);
  background-color:var(--color2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: var(--color1);
}
.box-left .seccion-marca-formulario form{
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.3);
  background-color:var(--color2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: var(--color1);
}

.box-left .seccion-categoria-formulario form  h2,label{
  text-align: center;
  color: var(--color3);
}
.box-left .seccion-marca-formulario form  h2,label{
  text-align: center;
  color: var(--color3);
}

.box-left .seccion-categoria-formulario form input{
  padding: 10px;
  border: none;
}
.box-left .seccion-marca-formulario form input{
  padding: 10px;
  border: none;
}

.box-left .seccion-categoria-formulario form  button{
  padding: 10px;
  background: var(--color3);
  color: var(--color2);
  border: none;
  border-radius: 20px;
}
.box-left .seccion-marca-formulario form  button{
  padding: 10px;
  background: var(--color3);
  color: var(--color2);
  border: none;
  border-radius: 20px;
}


.box-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.box-right h2{
  font-size: 25px;
  color: var(--color2);
}

/* 
PAGINA DE PROVEEDORES */
.seccion-proveedores{
  padding-top: 50px;
  display: flex;
  flex-direction: column-reverse;
  gap: 50px;
}
.box-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.box-button h2{
  color: var(--color2);
}
.seccion-proveedor-tabla{
  width: 90%;
  height: 400px;
  overflow: scroll;
  margin: auto;
}
/* PAGINA DE EDITAR PRODUCTOS */
.editar-producto{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 30px;
}
.editar-titulo{
  font-size: xx-large;
  text-align: center;
  margin: 20px;
  color: var(--color2);
  font-weight: bold;
}
.box-2-columns{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.formulario-editar{
  height: fit-content;
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.formulario-editar label{
  color: var(--color2);
  font-weight: bold;
}
.formulario-editar input,select{
  outline: none;
  padding: 5px;
  border: none;
  border-bottom: solid 1px var(--color2);
  width: 100%;
}
.formulario-editar select{
  border: none;
  background-color: #f9f9f9;
  border: none;
}
.editar-imagen{
  width: 350px;
  height: fit-content;
  background-color: var(--color1);
  padding: 5px;
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
}
.editar-imagen img{
  width: 100%;
  height: auto;
}
/* PAGINA DE EDITAR CATEGORIAS,MARCAS,PROVEEDOR */
.categoria-editar, .marca-editar, .editar-proveedor{
  display: flex;
  flex-direction: column;
  align-items:center ;
}
.categoria-editar h2{
  text-transform: capitalize;
  text-align: center;
  color: var(--color2);
  font-size: xx-large;
  padding: 20px;
}
/* PAGINA DE EDITAR MARCAS */
.marca-editar h2{
  text-transform: capitalize;
  text-align: center;
  color: var(--color2);
  font-size: xx-large;
  padding: 20px;
}
/* PAGINA EDITAR PROVEEDOR */
.editar-proveedor h2{
  text-transform: capitalize;
  text-align: center;
  color: var(--color2);
  font-size: xx-large;
  padding: 20px;
}
/* PAGINA DETALLE PRODUCTO */
.detalle-producto{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  padding: 50px;
}
.detalle-producto .informacion-producto{
  gap: 20px;
  background-color: var(--color1);
  padding: 20px;
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
}
.detalle-producto .informacion-producto table th{
  text-align: center;
  text-transform: uppercase;
}
.imagen-producto{
  background-color: var(--color1);
  padding: 20px;
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}
.imagen-producto h1{
  text-align: center;
  color: var(--color2);
  text-transform: capitalize;
}
.imagen-producto img{
  max-width: 100%;
}

/* PAGINA DE VENTAS */
.modal-nueva-factura{

}
.modal-nueva-factura .form-factura{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.modal-nueva-factura .form-factura input{
  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 10px;
}
/* PAGINA DE CREAR UNA VENTA */
.seccion-productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.seccion-productos-titulo{
  width: 100%;
  font-size: xx-large;
  color: var(--color2);
  font-weight: bold;
  text-align: center;
}
.seccion-productos-agregar{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: #EBFF00;
}
.seccion-productos-opciones{
  background-color: rgb(0, 0, 0);
  padding: 20px;
}
.seccion-productos-agregar-form{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  gap: 20px;
}
.seccion-productos-agregar-tabla{
  flex-grow: 1;
}
.seccion-productos-agregar-form .input-producto{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid 1px solid;
  padding: 20px;
}
.seccion-productos-agregar-form label{
  color: var(--color2);
}
.seccion-productos-agregar-form input,textarea{
  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 10px;
  min-width: 300px;
  resize: none;
}

/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Estilo para las celdas de cabecera */
th {
  background-color: var(--color2);
  border: 1px solid var(--color1);
  padding: 8px;
  text-align: left;
  color: var(--color1);
}

/* Estilo para las celdas de datos */
td {
  border: 1px solid var(--color2);
  padding: 8px;
  text-align: left;
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Estilo para las filas pares */
tr:nth-child(even) {
  background-color: #ffffff;
}

/* Estilo para cuando el ratón está sobre una fila */
tr:hover {
  background-color:#bdb8b8;
}
/* iconos */
.icono-editar, .icono-borrar, .icono-detalle{
  text-decoration: none;
  color:blue ;
  font-size: 30px;
  font-weight: bold;
}
.icono-borrar{
  color: red;
}
.icono-detalle{
  color: green;
}
/* botones */
.btn-guardar,.btn-cancelar{
  padding: 10px;
  background-color:green;
  color: var(--color1);
  font-weight: bold;
  border: none;
}
.btn-cancelar{
  background-color: red;
}
.btn-guardar:hover,.btn-cancelar:hover{
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
}

/* VENTANAS MODALES */
.modal{
  display: none;
}
.modal-open{
  background-color: rgba(0, 0, 0, 0.435);
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
}

.content-modal{
  padding: 20px;
  background-color: var(--color1);
}
.content-modal h2{
  text-align: center;
}
/* formularios  */

/* formulario de crear productos */
.modal-productos{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-productos{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
.modal-productos p{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
  padding: 5px;
  gap: 10px; 
}
.modal-productos p label{
  color: var(--color2);
}
.modal-productos p input{
  padding: 5px;
  border: none;
  border-bottom: solid 1px var(--color2);
  width: 100%;
}
/* formulario proveedor */
.modal-proveedor{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-proveedor{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-proveedor p{
  display: flex;
  flex-direction: column;
  gap: 10;

}
.form-proveedor p input{
  padding: 10px;
  border: none;
  border-bottom: solid 1px var(--color2);
}


.modalDelete {
  display: none;
  position: fixed;
  z-index: 12;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modalDelete .modal-content {
  max-width: fit-content;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalDelete .btn {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
  color: var(--color1);
}
#btnSi{
  background-color: green;
}
#btnNo{
  background-color: red;
}


