* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #e7e9f5;
  }
  :root{
    --color1:#FFFFFF;
    --color2:#4B0081;
    --color3:#EBFF00;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    background: var(--color1);
    padding: 6px 0px;
    height: 100%;
    box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .sidebar.active {
    width: 240px;
  }
  .sidebar .logo_content .logo {
    display: flex;
    color: var(--color2);
    height: 50px;
    width: 200px;
    font-size: 30px;
    margin-left: 5px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
  }
  .sidebar.active .logo_content .logo {
    opacity: 1;
  }
  .sidebar .logo_content .logo .logo_name {
    font-size: 23px;
    font-weight: 600;
    margin: 0 10px;
  }
  .sidebar #btn {
    position: absolute;
    color: var(--color2);
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
  }
  .sidebar.active #btn {
    left: 85%;
  }
  .sidebar .src {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .sidebar .src .bx-search {
    position: absolute;
    z-index: 99;
    font-size: 22px;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .sidebar i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
  }
  .sidebar ul {
    margin-top: 20px;
  }
  .sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
  }
  .sidebar ul li a {
    color:var(--color2);
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    white-space: nowrap;
    transition: all 0.4s ease;
  }
  .sidebar ul li a:hover {
    background: var(--color3);
  }
  .sidebar .link_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }
  .sidebar.active .link_name {
    opacity: 1;
    pointer-events: auto;
  }
  .contenido{
    margin-left: 50px;
    background-color:var(--color1);
    min-height: 100vh;
    padding: 10px;
  }


  
  /* PAGINA DE PRODUCTOS */
  .productos-page{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background: #00000046; */
  }
  .header-title{
    font-size: xx-large;
    color: var(--color2);
    text-align: center;
    
  }
  .header-nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
  }
  .header-nav-box{
    flex-basis: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--color3);
    flex-wrap: wrap;
    text-decoration: none;
    text-transform: capitalize;
    gap: 10px;
    box-shadow: 5px 0 30px rgba(0, 0, 0, 0.1);
  
  }
  .header-nav-box-text{
    font-size:small;
    font-weight: bold;
  }
  .header-nav-box-icon{
   font-size: 30px;
   color: var(--color2);
  }

  .productos-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
.header-table{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.header-table h2{
  color: var(--color2);
}
.buscador{
  border-radius: 50px;
  background-color:var(--color2);
  padding: 5px ;
}
.buscador input{
  border-radius: 50px;
  border: none;
  padding: 15px;
  
  outline: none;
}
.descargas{
  display: flex;
  gap: 20px;
}
.descargas button{
  border-radius: 20px;
  background-color: var(--color2);
  color: var(--color1);
  padding: 10px;
  border: none;
}
 .box-table-productos{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  gap: 10px;
 }
 .box-table-productos .form-new-producto{
  width: 250px;
  height: fit-content;
  background-color: #EBFF00;
 }
 .box-table-productos .box-table-productos-scroll{
  width: 1000px;
  height: 400px;
  overflow: scroll;
 }
 .box-table-productos .box-table-productos-scroll .table-productos{
  width: 100%;
  
 }
/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Estilo para las celdas de cabecera */
th {
  background-color: var(--color2);
  border: 1px solid var(--color1);
  padding: 8px;
  text-align: left;
  color: var(--color1);
}

/* Estilo para las celdas de datos */
td {
  border: 1px solid var(--color2);
  padding: 8px;
  text-align: left;
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Estilo para las filas pares */
tr:nth-child(even) {
  background-color: #ffffff;
}

/* Estilo para cuando el ratón está sobre una fila */
tr:hover {
  background-color: var(--color3);
}