{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Punto de ventas</title>
  <link rel="shortcut icon" href="/static/img/img-logo.png" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.47.0/tabler-icons.min.css">
  <!-- libreria para un selec con buscador  -->
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
  
</head>
<body>
     <!-- SIDEBAR -->
     <section class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <h4 class="logo_name">San Sebastian</h4>
        </div>
        <i class="ti ti-menu-2"  id='btn'></i>
      </div>
    
      <ul class="nav">
        <li>
          <a href="{% url 'PageInicioLink' %}">
            <i class="ti ti-Home"></i>
            <span class="link_name">Inicio</span>
          </a>
        </li>
        <li>
          <a href="{% url 'PageVentasLink' %}">
            <i class="ti ti-shopping-cart"></i>
            <span class="link_name">Ventas</span>
          </a>  
        </li>
        <li>
          <a href="{% url 'PageProductosLink' %}">
            <i class="ti ti-building-store"></i>
            <span class="link_name">Productos</span>
          </a>
        </li>
        <li>
          <a href="{% url 'reportesPageLink' %}">
            <i class="ti ti-businessplan"></i>
            <span class="link_name">Reportes</span>
          </a>
        </li>
        <li>
          <a href="{% url 'PageEstadisticasLink' %}">
            <i class="ti ti-brand-google-analytics"></i>
            <span class="link_name">Estadisticas</span>
          </a>

        </li>
        <li>
          <a href="#">
            <i class="ti ti-sitemap"></i>
            <span class="link_name">Mas</span>
          </a>
        </li>
        <li>
          <form action="{% url 'logout' %}" method="post" title="Cerrar Sesión" style="background-color: white; transition: background-color 1s;">
            {% csrf_token %}
            <button class="Fin_Sesion" type="submit" style="width: 100%; background: none; border: none; cursor: pointer;"><i class="ti ti-x" style="color: rgb(49, 0, 140);"></i></button>
        </form>
        </li>
      </ul>
    </section>
      <!-- CONTENIDO DE PAGINAS -->
    <section class="contenido">
      {% block content %}{% endblock %}
    </section>


<script src="{% static 'js/script.js' %}"></script>
<body>



</html>