{% extends 'base.html' %}
{% load static %}

{% block content %}

        <p class="alert-login">Bienvenido {{user.username | upper}}. Este es el panel principal del sistema aca podra encontrar atajos,
        para encontrar los distintos listados del sistema.
        </p>
        <br><br>

        <div class="container">
                <a href="{% url 'PageProductosProveedoresLink' %}" class="enlace">
                <div class="item"><h2>Proveedores</h2>
                    <img src="/static/img/img-camion.png" alt="">
                </div>
                </a>
                <a href="{% url 'PageProductosCategoriasLink' %}" class="enlace">
                <div class="item"><h2>Categorias</h2>
                <img src="/static/img/img-etiqueta.png" alt="">
                </div>
                </a>
                <a href="{% url 'PageProductosLink' %}" class="enlace">
                <div class="item"><h2>Productos</h2>
                <img src="/static/img/img-caja.png" alt="">
                </div>
                </a>
                <a href="{% url 'PageEstadisticasLink' %}" class="enlace">
                <div class="item"><h2>Estadisticas</h2>
                <img src="/static/img/img-estadistica.png" alt="">
                </div>
                </a>
                <a href="{% url 'PageVentasLink' %}" class="enlace">
                <div class="item"><h2>Ventas</h2>
                <img src="/static/img/img-carro.png" alt="">
                </div>
                </a>
        </div>

{% endblock %}