{% extends 'base.html' %}

{% block content %}
    <section class="productos-page">
        <header class="header">
            <h1 class="header-title">Catalogo</h1>
            <nav class="header-nav">
                <a href="#" class="header-nav-box">
                    <i class="ti ti-box header-nav-box-icon"></i>
                    <h3 class="header-nav-box-text">Productos</h3>
                </a>
                <a href="#" class="header-nav-box">
                    <i class="ti ti-list-check header-nav-box-icon"></i>
                    <h3 class="header-nav-box-text">Categorias</h3>
                </a>
                <a href="#" class="header-nav-box">
                    <i class="ti ti-shirt header-nav-box-icon"></i>
                    <h3 class="header-nav-box-text">Marcas</h3>
                </a>
                <a href="#" class="header-nav-box">
                    <i class="ti ti-truck header-nav-box-icon"></i>
                    <h3 class="header-nav-box-text">Proovedores</h3>
                </a>
            </nav>
        </header>
        
        <article class="productos-section">
            <div class="header-table">
                <h2>Productos</h2>
                <form action="" method="post" class="buscador">
                    <input type="search" name="" id="" placeholder="Buscar">
                    {% csrf_token %}
                </form>
                <div class="descargas">
                    <button>Descargar csv</button>
                    <button>Imprimir</button>
                </div>
            </div>
            <div class="box-table-productos">
                <div class="box-table-productos-scroll">
                    <table class="table-productos">
                        <thead>
                            <tr>
                                <th>Cod. Producto</th>
                                <th>Cod. Barra</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Stok</th>
                                <th>Categoria</th>
                                <th>Marca</th>
                                <th>Proovedor</th>
                                <th>Acciones</th> 
                            </tr>
                            
                        </thead>
                        <tbody>
                            {% for prod in productos %}
                            <tr>
                                <!-- <td>{{prod.codigo}}</td> -->
                                <td>{{prod.codigo_producto}}</td>
                                <td>{{prod.codigo_barras}}</td>
                                <td>{{prod.nombre}}</td>
                                <td>{{prod.precio}}</td>
                                <td>{{prod.stock}}</td>
                                <td>{{prod.categoria}}</td>
                                <td>{{prod.marca}}</td>
                                <td>{{prod.proveedor}}</td>
                                <td>
                                    <a href="">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor  %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
        
    </section>

{% endblock %}