{% extends 'base.html' %}

{% block content %}
<div class="botonAgregarProducto">
    <a href="">
        <i class="ti ti-plus"></i>
    </a>
</div>
    <section class="productos-page">
        {% include 'includesTemplates/catalogo_productos.html' %}
        
        <article class="productos-section">
            <div class="header-table">
                <h2>Productos</h2>
                <form action="" method="post" class="buscador">
                    <input type="search" name="" id="" placeholder="Buscar">
                    {% csrf_token %}
                </form>
                <div class="descargas">
                    <button>Descargar csv</button>
                    <button>Imprimir</button>
                </div>
            </div>
            <div class="box-table-productos">
                <div class="box-table-productos-scroll">
                    <table class="table-productos">
                        <thead>
                            <tr>
                                <th>Cod. Producto</th>
                                <th>Cod. Barra</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Stok</th>
                                <th>Categoria</th>
                                <th>Marca</th>
                                <th>Proovedor</th>
                                <!-- <th>Imagen</th> -->
                                <th>Acciones</th> 
                            </tr>
                            
                        </thead>
                        <tbody>
                            {% for prod in productos %}
                            <tr>
                                <!-- <td>{{prod.codigo}}</td> -->
                                <td>{{prod.codigo_producto}}</td>
                                <td>{{prod.codigo_barras}}</td>
                                <td>{{prod.nombre}}</td>
                                <td>{{prod.precio}}</td>
                                <td>{{prod.stock}}</td>
                                <td>{{prod.categoria}}</td>
                                <td>{{prod.marca}}</td>
                                <td>{{prod.proveedor}}</td>
                                <!-- <td>
                                    <img src="{{prod.imagen.url}}" alt="{{prod.nombre}}" width="30px" height="30px">
                                </td> -->
                                <td>
                                    <a href="" class="icono-editar">
                                        <i class="ti ti-edit"></i>
                                    </a>
                                    <a href="" class="icono-borrar">
                                        <i class="ti ti-trash"></i>
                                    </a>
                                    <a href="" class="icono-detalle">
                                        <i class="ti ti-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor  %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
        
    </section>

{% endblock %}